.carta {
    background-color: aqua;
    right: 35%;
    left: 35%;
    top: 20%;
    position: absolute;
    border-radius: 20px;
    padding: 50px 50px 50px;
    transition: all 400ms;
    border: 2px solid black;
    
}

.carta:hover {
    padding: 400px 150px 150px;
    transition: all 400ms;
}

.carta:hover h1 {
    opacity: 0%;
    transition: all 400ms;
}

.carta h2 {
    opacity: 0%;
    font-family: "Pacifico", cursive;
    margin-top: -200px;
    transition: all 400ms;
}

.carta:hover h2 {
    opacity: 100%;
    transition: all 400ms;
}

.carta h1 {
    font-size: 24px;
    font-family: "Kanit", sans-serif;
    top: -10%;
}

